# ===== SERVER =====
PORT=8081

# ===== DATABASE (PostgreSQL) =====
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=db_password
DB_NAME=db

# ===== JWT =====
JWT_SECRET=min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_ISSUER=ptit-backend
JWT_AUDIENCE=ptit-gateway

# ===== REDIS =====
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# ===== MAIL (Gmail) =====
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=gmail@gmail.com
MAIL_PASS=gmail_app_password
MAIL_FROM="App <gmail@gmail.com>"

